/* Universal Reset */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Type Selectors */
html {
  font-family: Roboto, sans-serif
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.2;
  min-height: 100vh;
}

/* Class Selectors */
/* HEADER */
.header {
  background-color: #1f2937;
  margin-bottom: 50px;
}

.header-container {
  width: 70%;
  margin: 0 auto;
}

.navbar {
  color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 20px 0;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.links {
  margin-left: auto;
}

.link-list {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

.link-item a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.hero {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-bottom: 130px;
}

.hero-main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 16px;
}

.hero-sub {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-sub {
  margin-bottom: 16px;
}

.hero-button,
.cta-button {
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  color: #e5e7eb;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 32px;
}

/* INFORMATION */
.info {
  text-align: center;
  margin-bottom: 125px;
}

.info-heading {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 50px;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.info-item {
  font-size: 18px;
  width: 200px;
}

.info-item img {
  border: 4px solid #3882f6;
  border-radius: 10%;
}

/* QUOTE */
.quote {
  background-color: #e5e7eb;
}

.quote-container {
  width: 55%;
  margin: 140px auto 105px;
}

.quote p:first-child {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: light;
}

.quote p:last-child {
  color: #1f2937;
  font-size: 24px;
  font-weight: bold;
  text-align: end;
}

/* CALL TO ACTION */
.cta-container {
  border-radius: 10px;
  display: flex;
  background-color: #3882f6;
  padding: 50px 120px;
  width: 70%;
  margin: 100px auto;
}

.cta-heading {
  color: #f9faf8;
  font-size: 24px;
}

.cta-sub {
  color: #e5e7eb;
  font-size: 18px;
}

.cta-button {
  border: 2px solid #e5e7eb;
  margin-left: auto;
}

/* FOOTER */
.footer {
  display: flex;
  color: #e5e7eb;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  height: 100px;
}